.contNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
   gap: 50vw;
}



/* logo del gobierno */


.container-fluid{
    display: flex;
    flex-direction: column;
}


/* contenido */
.navbar {
    background-color: #691C32;
    --bs-navbar-brand-color: #fff;
}

.secciones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-decoration: none;
}

.secciones li  {
    text-decoration: none;
    color: white;
    list-style-type: none;
}

.secciones li a {
    color: white; 
}



/* contenido */
.navbarINAOE {
    background-color: #A57F2C;
    --bs-navbar-brand-color: #fff;
    height: 60px;
}

.seccionesINAOE {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-decoration: none;
}

.seccionesINAOE li  {
    text-decoration: none;
    color: white;
    list-style-type: none;
    font-size: 20px;
   
}

.seccionesINAOE li a {
    color: white; 
}

/* contenido */
.seccionesEstatus {
    background-color: #A57F2C;
    --bs-navbar-brand-color: #fff;
    height: 60px;
}

.seccionesEstatus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-decoration: none;
}

.seccionesEstatus li  {
    text-decoration: none;
    color: white;
    list-style-type: none;
   
}

.seccionesEstatus li a {
    color: white; 
}






